@import url(/styles/normalize.css);

* {
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/assets/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.title {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title h1 {
  font-size: 80px;
}

.title p {
  margin: 10px 0 40px;
  font-size: 30px;
  color: #fff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

.mobile-icon {
  display: none;
}

.main {
  width: 80%;
  margin: auto;
  align-items: center;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #444;
}

.slider-wrapper .slide-button#prev-img {
  left: -20px;
  display: none;
}

.slider-wrapper .slide-button#next-img {
  right: -20px;
}

.slider-wrapper .img-list {
  display: grid;
  overflow-x: auto;
  padding-top: 75px;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 50px;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .img-list::-webkit-scrollbar {
  display: none;
}

.container .slider-scroll {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scroll .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scroll:hover .scrollbar-track {
  height: 4px;
}

.slider-scroll .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scroll:hover .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scroll .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.slider-wrapper .img-list .img-item {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 700px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .img-list {
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper .img-list . .img-item {
    width: 280px;
    height: 380px;
  }
  .slider-scroll .scrollbar-thumb {
    width: 20%;
  }
  .title h1 {
    font-size: 40px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .mobile-icon {
    width: 15px;
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
