@import url(/styles/normalize.css);

* {
  font-family: "Poppins", sans-serif;
}

.text {
  text-align: center;
  font-size: 1.7rem;
  background-color: #000;
  color: #fff;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/assets/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  transition: 1.5s;
}

nav img {
  width: 200px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s ease;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.title {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 1.5s ease;
}

.title h1 {
  font-size: 80px;
}

.title p {
  margin: 10px 0 40px;
  font-size: 30px;
  color: #fff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  border: none;
  background: linear-gradient(
    90deg,
    rgba(193, 41, 41, 1) 0%,
    rgba(62, 56, 238, 1) 0%,
    rgba(109, 0, 182, 1) 80%
  );
}

.mobile-icon {
  display: none;
}

.main {
  width: 80%;
  margin: auto;
  align-items: center;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #444;
}

.slider-wrapper .slide-button#prev-img {
  left: -20px;
  display: none;
}

.slider-wrapper .slide-button#next-img {
  right: -20px;
}

.slider-wrapper .img-list {
  display: grid;
  overflow-x: auto;
  padding-top: 75px;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 50px;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .img-list::-webkit-scrollbar {
  display: none;
}

.container .slider-scroll {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scroll .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scroll:hover .scrollbar-track {
  height: 4px;
}

.slider-scroll .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scroll:hover .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scroll .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.slider-wrapper .img-list .img-item {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.product-types {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.product-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;

  position: relative;
  overflow: hidden;
}

.product-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display: flex;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
}

ul {
  list-style: none;
}

.footer {
  background: #24262b;
  padding: 70px 0;
}

@media (max-width: 700px) {

  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .img-list {
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper .img-list .img-item {
    width: 280px;
    height: 380px;
  }
  .slider-scroll .scrollbar-thumb {
    width: 20%;
  }
  .title h1 {
    font-size: 40px;
  }
  .mobile-icon {
    width: 15px;
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .row {
    flex-direction: column;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
