@import url(/styles/normalize.css);

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.mobile-icon {
  display: none;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 35px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 450px;
  height: 450px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 210px;
  height: 250px;
  margin-bottom: 45px;
}

.product-image img {
  margin-top: 15px;
  max-width: 210px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.product-details {
  max-width: 100%;
  overflow: hidden;
  text-align: left;
  flex: 1;
  padding: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.product-price {
  font-size: 20px;
  color: #e44d26;
  font-weight: bold;
  margin-bottom: 10px;
}

.buy-button {
  display: block;
  width: 400px;
  padding: 10px;
  background-color: #e44d26;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #333;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display: flex;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
}

ul {
  list-style: none;
}

.footer {
  background: #24262b;
  padding: 70px 0;
}

@media (max-width: 768px) {
  .header {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 450px;
    width: 450px;
  }
  nav img {
    display: none;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
  }
  .product-card {
    width: 350px;
    height: 450px;
  }
  .product-card .product-details {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .product-title,
  .product-description,
  .product-price {
    margin-left: 10px;
  }
  .buy-button {
    width: 330px;
  }
  main {
    width: 450px;
  }
  .footer {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .header {
    width: 480;
  }
  .product-card {
    width: 380px;
    height: 450px;
  }

  .product-card .product-details {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .product-title,
  .product-description,
  .product-price {
    margin-left: 10px;
  }
  .buy-button {
    width: 360px;
  }
}
